body {
    margin-bottom: 80px;
    font-family: 'Inter', sans-serif;
    background-color: #260701;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #260701;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.header h2 {
    color: #FFF5EC;
    font-size: 1.5rem;
}

#george {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar {
    background-color: #4E3531;
    width: 100%;
    padding: 10px 0;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -4px 10px rgb(255, 245, 236);

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-item {
    margin: 0;
}

.icon {
    width: 28px;
    height: 28px;
}

.hidden {
    display: none;
}

.effect_Cam {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.effect_Cam img {
    width: 100%;
    height: 100%;
    display: block;
}