.body {
    max-width: 480px;
    margin: 0 auto;

}

.carrossel {
    position: relative;
    max-width: 480px;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
}

.imagens-carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.imagens {
    min-width: 100%;
    height: auto;
    border-radius: 12px;
    scroll-snap-align: center;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #26070180;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    width: 24px;
    height: 24px;
}

#seta_esquerda {
    left: 10px;
}

#seta_direita {
    right: 10px;
}

#container-divisão {
    width: fit-content;
    margin: 16px auto ;
    padding: 8px 16px;
    background-color: #B5977F;
    border-radius: 8px;
    text-align: center;
}

#titulo-divisao {
    color: #FFF5EC;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    text-transform: capitalize;
}

.card {
    background-color: #563B35;
    width: 200px; /* Ajuste a largura conforme preferir */
    height: 220px;
    border-radius: 28px;
    padding: 20px;
    color: #F5EBE0;

    /* MUDANÇA PRINCIPAL: Organizar em coluna vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Empurra o slider para o fundo */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre o título "Lights" e o ícone */
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-icon {
    width: 32px;
    height: auto;
    object-fit: contain;
}

.percentage {
    font-size: 2.5rem; /* Aumentei para destaque */
    font-weight: 400;
}

/* --- ESTILO DO SLIDER HORIZONTAL --- */
.slider-container {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Remove o estilo padrão feio do navegador */
.full-width-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 50px; /* Altura grossa para parecer um botão tátil */
    background: #462E29; /* Castanho mais escuro para o fundo (track) */
    border-radius: 25px;
    outline: none;
    overflow: hidden; /* Importante para o efeito de preenchimento */
    cursor: pointer;
}

/* O "polegar" (a bolinha que se arrasta) - Chrome/Safari */
.full-width-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* Escondi a bolinha para parecer uma barra de progresso */
    height: 50px;
    box-shadow: -200px 0 0 200px #B5977F; /* O truque: sombra cria a barra cheia */
    background: #B5977F;
}

/* O "polegar" - Firefox */
.full-width-slider::-moz-range-thumb {
    width: 0px;
    height: 50px;
    background: #B5977F;
    border: none;
    box-shadow: -200px 0 0 200px #B5977F;
}