body {
    margin-right: 20px;
    margin-left: 20px;
}

.carrossel {
    position: relative;
    height: auto;
    overflow: hidden;
}

.imagens-carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.imagens {
    min-width: 100%;
    height: auto;
    border-radius: 12px;
    scroll-snap-align: center;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #26070180;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    width: 24px;
    height: 24px;
}

#seta_esquerda {
    left: 10px;
}

#seta_direita {
    right: 10px;
}

#container-divisão {
    width: fit-content;
    margin: 16px auto ;
    padding: 8px 16px;
    background-color: #B5977F;
    border-radius: 8px;
    text-align: center;
}

#titulo-divisao {
    color: #FFF5EC;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    text-transform: capitalize;
}

.card-horizontal {
    background-color: #563B35;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 120px;
    height: auto;
    min-height: 80px;
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: #F5EBE0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.icon-large {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

}

.card-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.switch-small {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

.switch-small input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8D7A76;
    transition: .4s;
    border-radius: 34px;
}

.slider-round:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: #261613;
    transition: .4s;
    border-radius: 50%;
}

 input:checked + .slider-round {
     background-color: #B5977F;
 }

input:checked + .slider-round:before {
    transform: translateX(28px);
}

.luzes-off {
    filter: grayscale(100%) brightness(40%);
    transition: filter 0.5s ease;
}

.imagens {
    transition: filter 0.5s ease;
}

.barra-cores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    background-color: #4a322d;
    padding: 8px;
    border-radius: 12px;
}

.opcao-cor {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.opcao-cor input {
    display: none;
}

.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    border: 2px solid transparent;
    transition: transform 0.2s;
}

.cor-original { background-color: #ffffff; }
.cor-quente   { background-color: #ffaa5e; }
.cor-frio     { background-color: #5e93ff; }
.cor-neon     { background-color: #d05eff; }

.opcao-cor input:checked + .bolinha {
    transform: scale(1.2);
    border-color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.filtro-quente {
    filter: sepia(0.8) saturate(2) hue-rotate(-10deg);
}

.filtro-frio {
    filter: sepia(0.3) hue-rotate(180deg) saturate(0.9) brightness(1.1);
}

.filtro-neon {
    filter: sepia(0.2) hue-rotate(240deg) saturate(1.2) brightness(1.05);
}