#conta-paginas {
    font-size: 0.8em;
    opacity: 0.6;
    margin-top: 10px;
}

.historia {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF5EC;
    padding: 20px;
    border-radius: 15px;
    height: fit-content;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

#texto {
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
}

.setas {
    background-color: #FFF5EC90;
    padding: 10px;
    border-radius: 10px;

    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-70%);
    z-index: 9999;
    margin: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.seta {
    width: 32px;
    height: auto;
    filter: invert();
}

#overlay-susto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#overlay-susto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.escondido {
    display: none !important;
}