.grid-divisoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-divisao {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: block;
}
.card-divisao .imagens {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-divisao video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageRoom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.titulo-divisao {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF5EC;
    font-weight: bold;
    font-size: 1rem;
    z-index: 2;
}

.seta {
    width: 20px;
    height: auto;
}