.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

a {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    text-decoration: none;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.volta {
    background-color: #FFF5EC40;
    padding: 12px 8px;
    border-radius: 12px;
    width: fit-content;
}

.volta p {
    color: #FFF5EC;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

.seta {
    width: 32px;
    height: auto;
}

.options {
    /*position: absolute;*/
    /*left: 20px;*/
    /*margin-top: 20px;*/

    width: 48px;
    height: 48px;

    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.luz {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 30px;
    position: absolute;
    left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    gap: 10px;
    background-color: #FFF5EC60;
    border-radius: 64px;
}

.luz p {
    color: #FFF5EC;
}

.icon {
    width: 32px;
    height: auto;
}

.video {
    margin-top: 20px;
    margin-bottom: 20px;
}